@page "/"
@using Microsoft.EntityFrameworkCore
@using RevisioHub.Web.Model.Db.Services
@inject Context Context;

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Service Status</h1>

        <ul class="list-group">
            @foreach(var ServiceHost in Context.ServiceHosts)
            {
                <ServiceHostLi ServiceHostId="ServiceHost.Id"/>
            }
        </ul>
    </Authorized>
    <NotAuthorized>
        Please Login
    </NotAuthorized>
</AuthorizeView>